<div class="" ui-view style="padding-bottom:0;">
    <div class="alert alert-warning simplebox">
        <p class="lead"><strong>Welcome to plegApi documentation <i class="fa fa-smile-o"></i></strong></p>
    </div>
    <div class="shadow simplebox">
        <p>This document describes the REST API and resources provided by <strong class="text-success">Pleg</strong>. The REST APIs are for developers who want to integrate Pleg into their application and for administrators who want to script interactions with the Pleg server.
        </p>
        <hr>
        <p>Pleg's REST APIs provide access to resources (data entities) via URI paths. To use a REST API, your application will make an HTTP request and parse the response. The response format is JSON. Your methods will be the standard HTTP methods like GET, PUT and POST.

            Because the REST API is based on open standards, you can use any web development language to access the API.</p>
        <hr>
        <div class="">
            <h4><strong class="text-muted">Response Codes </strong></h4>
            <ul>
                <li>200|OK - Indicates the request was successful, even though the response might not be what is expected.</li>
                <li>404|NOT FOUND - The resource being requested for is not found.</li>
                <li>401|NOT AUTHORIZED - The user is not authorized to access the resource.</li>
                <li>503|INTERNAL SERVER ERROR - This might be an error on the part of our server/database interactions.</li>

            </ul>
        </div>
        <hr>
        <p class="text-warning text-muted">
            <strong class="text-muted"> Note: </strong>To make a POST or PUT request, you need to have an API identification(id) and key with us, if not, you will not be authorized for such request.
        </p>
    </div>
</div>