<div class="alert alert-success simplebox">
    <h3><strong>/plegapi/v1/sectors</strong></h3>
</div>
<hr>
<div>
    <h4><strong>GET</strong></h4>
    <p>
        Sending a get request to this API endpoint returns an array of JSON objects of all the sectors available on that resource, with each array
        element(i.e a report) in JSON format or it returns an empty array if no sector is available on the resource.
    </p>
    <div class="well well-lg simplebox">
        <strong><u>Example</u></strong><br>
        <h5>GET http://www.example.com/plegapi/v1/sectors </h5>
        <h5>RETURNS array of sectors [{sector1},{sector2},{sector3}....] or an empty array [].</h5>
    </div>

</div>

<div class="alert alert-success simplebox">
    <h3><strong>/plegapi/v1/sectors/{id}</strong></h3>
</div>
<hr>
<div>
    <h4><strong>GET</strong></h4>
    <p>
        Sending a get request to this API endpoint returns an object containing a sector with the id supplied or an empty object
        if such report is non-existent.
    </p>
    <div class="well well-lg simplebox">
        <strong><u>Example</u></strong><br>
        <h5>GET http://www.example.com/plegapi/v1/sectors/2 </h5>
        <h5>RETURNS an object in the form {"sector_id":2,"name":"*****"} or an empty object {}.</h5>
    </div>

</div>